textarea {
    width: 300px;
    height: 150px;
}
th {
    background-color: #aaaaaa;
}
table {
    /*table-layout: fixed;*/
}
td{
    text-align: center;
    /*border-bottom:1pt solid black;*/
}
#main tr{
    background-color:#fce5cd;
} 